html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
    position: relative;
  }
  
.full-height {
    height: 100%;
    background: pink;
} 
  
.full-height-2 {
    height: 100%;
    background: yellow;
}

.full-height-3 {
    height: 100%;
    background: green;
}

.full-height-4 {
    height: 100%;
    background: blue;
}

.full-height-5 {
    height: 100%;
    background: beige;
}

.full-height-6 {
    height: 100%;
    background: purple;
}


.down-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
}

.icon-scroll {
	position: absolute;
	bottom: 0;
	left: 50%;
  width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
    z-index: 99999;
    text-align: center;
}


.icon-scroll span {
	animation-delay: .2s;
}


.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

.about{
    transform: rotate(90deg);
    transform-origin: right middle;
    float: right;
    margin-top: 20px;
}

.projects{
    transform: rotate(270deg);
    transform-origin: left middle;
    float: left;
    margin-top: 20px;
} 

/* ABOUT ME */
nav{
    width: 100%;
    text-align: center;
    height: 120px;
    letter-spacing: 0.8px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'GTWalsheim', sans-serif;
    padding-top: 60px;
}

nav p {
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
} 

nav p:nth-child(1) {
    text-align: left;
}

nav p:nth-child(2) {
    text-align: right;
} 


.nav-link {
    position: relative;
    text-decoration: none;
    color: black;

}

.aboutMe{
    font-family: 'GTWalsheim', sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    text-align: left;
    color: #fea49f;
}

.aboutMeI{
    font-family: 'GTWalsheim', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-align: left;
}

/* OVERLAY */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;s
    left: 0;
    background-color: #fff5d7;
    background-color: #101357;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay p:hover, .overlay a:focus {
    color: #b4afaf;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


