html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
  }
  
.full-height {
    height: 100%;
    background: pink;
} 
  
.full-height-2 {
    height: 100%;
    background: rgb(90, 129, 82);
}

.full-height-3 {
    height: 100%;
    background: black;
}

.full-height-4 {
    height: 100%;
    background: rgb(191, 234, 255);
}

.full-height-5 {
    height: 100%;
    background: beige;
}

.full-height-6 {
    height: 100%;
    background: purple;
}


.down-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
}

.icon-scroll {
	position: absolute;
	bottom: 0;
	left: 50%;
  width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
    z-index: 99999;
    text-align: center;
}


.icon-scroll span {
	animation-delay: .2s;
}


.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

.about{
    transform: rotate(90deg);
    transform-origin: right middle;
    float: right;
    margin-top: 20px;
}

.projects{
    transform: rotate(270deg);
    transform-origin: left middle;
    float: left;
    margin-top: 20px;
} 

/* ABOUT ME */
nav{
    width: 100%;
    text-align: center;
    height: 120px;
    letter-spacing: 0.8px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'GTWalsheim', sans-serif;
    padding-top: 60px;
}

nav p {
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
} 

nav p:nth-child(1) {
    text-align: left;
}

nav p:nth-child(2) {
    text-align: right;
} 


.nav-link {
    position: relative;
    text-decoration: none;
    color: black;

}

.aboutMe{
    font-family: 'GTWalsheim', sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    text-align: left;
    color: #fea49f;
}

.aboutMeI{
    font-family: 'GTWalsheim', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-align: left;
}

/* OVERLAY */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay p:hover, .overlay a:focus {
    color: #b4afaf;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

.me{
    background-color: #101357;
}

.bae{
    background-color: red;
}

h1{
    display: block;
}

nav h1 {
    font-family: 'GTWalsheim', sans-serif;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 110px;
    line-height: 50px;
    z-index: 2;
    color: white;
} 


/* spinning letter */
.letter{
	font-family: 'Righteous', sans-serif;
	transform: scale(1.2);
    display: inline-block;
    font-size: 5em;
}
	
	
.letter:hover .a{
		transform: rotateY(160deg) rotateX(-20deg) scale(1.2);
}
	


.a{
	color: #fff;
	display: inline-block;
	transition: 800ms all cubic-bezier(0.5,1,.4,2);
}

.intro{
    text-align: left;
    margin-left: 60px;
    margin-top: 150px;
    max-width: 75%;
    font-size: 3em;
    font-weight: 400;
}

.blue-text{
    color: blue;
}

.image-1{
    height: 450px;
    width: 450px;
    display: block;
    margin: auto;
    z-index:2;
    padding: 85px;
}

.img-container-1 {
    position: relative;
}
  
.learn{
    margin-top: 80px;
}

.go{
    margin-top: 80px;
}

/* CUBE CONTAINER */
.cube {
	animation: rotate 7000ms linear infinite;
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	/* position: absolute; */
	transform-style: preserve-3d;
	right: 0;
	top: 0;
    width: 100px;

}

@keyframes rotate {
	100% {
		transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
	}
}

.face {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.front {
	background: rgb(252, 251, 251);
	transform: translateZ(50px);
}

.back {
	background: rgb(230, 228, 228);
	transform: translateZ(-50px);
}

.left {
	background: rgb(209, 209, 209);
	transform: translateX(-50px) rotateY(90deg);
}

.right {
	background: rgb(218, 216, 216);
	transform: translateX(50px) rotateY(90deg);
}

.top {
	background: rgb(209, 199, 199);
	transform: translateY(-50px) rotateX(90deg);
}

.bottom {
	background: rgb(185, 185, 185);
	transform: translateY(50px) rotateX(90deg);
}

.perfect-cube{
    color:white;
    font-size: 80px;
    padding-top: 120px;
}

.pcube{
    color:white;
}

/* TICKER */

.tcontainer {
    width: 100%;
    overflow: hidden; /* Hide scroll bar */
  }
   
  /* MIDDLE CONTAINER */
  .ticker-wrap {
    width: 100%;
    padding-left: 100%; /* Push contents to right side of screen */
    background-color: rgb(191, 234, 255);
    font-family: 'Bungee Outline', cursive;
    font-size: 70px;

  }
  
  /* INNER CONTAINER */
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 45s;
  }
  .ticker-move:hover{
    animation-play-state: paused; /* Pause scroll on mouse hover */
  }

  .ticker-move-2 {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
  }
  .ticker-move-2:hover{
    animation-play-state: paused; /* Pause scroll on mouse hover */
  }
  
  /* ITEMS */
  .ticker-item{
    display: inline-block; /* Lay items in a horizontal line */
    padding: 0 2rem;
  }
 
